<header class="site-header">
  <nav>
    <div class="nav-wrapper blue-grey">
      <div class="container">
        <a href="#" class="brand-logo">{{ site.title }}</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{ '/index.html' | prepend: site.baseurl }}">Home</a></li>
          <li><a href="{{ '/about.html' | prepend: site.baseurl }}">About me</a></li>
          <li><a href="{{ '/projects.html' | prepend: site.baseurl }}">Projects</a></li>
          <li><a href="{{ '/posts.html' | prepend: site.baseurl }}">Blog</a></li>
          <li><a href="{{ '/contact.html' | prepend: site.baseurl }}">Contact me</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav blue-grey">
          <li><a class="white-text" href="{{ '/index.html' | prepend: site.baseurl }}">Home</a></li>
          <li><a class="white-text" href="{{ '/about.html' | prepend: site.baseurl }}">About me</a></li>
          <li><a class="white-text" href="{{ '/projects.html' | prepend: site.baseurl }}">Projects</a></li>
          <li><a class="white-text" href="{{ '/posts.html' | prepend: site.baseurl }}">Blog</a></li>
          <li><a class="white-text" href="{{ '/contact.html' | prepend: site.baseurl }}">Contact me</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </div>
  </nav>
</header>
